
@font-face {
    font-family: 'proxima-black';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-black.otf) format('otf');
}
@font-face {
    font-family: 'proxima-bold';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-bold.otf) format('otf');
}
@font-face {
    font-family: 'proxima-extrabold';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-extrabold.otf) format('otf');
}
@font-face {
    font-family: 'proxima-light';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-light.otf) format('otf');
}
@font-face {
    font-family: 'proxima-medium';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-medium.otf) format('otf');
}
@font-face {
    font-family: 'proxima-regular';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-regular.otf) format('otf');
}
@font-face {
    font-family: 'proxima-semibold';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-semibold.otf) format('otf');
}
@font-face {
    font-family: 'proxima-thin';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Proxima/proximanova-thin.otf) format('otf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;